#cog-cont {
  margin: 32px auto 8px auto;
  width: 102px;
}

#cog {
  color: var(--ion-color-dark);
  font-size: 102px;
}

h1 {
  margin: 0px auto;
  text-align: center;
  font-size: 36px;
  color: var(--ion-color-dark);
}

h2 {
  margin: 0px auto 32px auto;
  text-align: center;
  font-size: 18px;
  color: var(--ion-color-secondary);
}

#main-menu {
  --background: var(--ion-color-background);
  pointer-events: auto;
}

#menu-list {
  background: var(--ion-color-background);
  width: 100%;
}

#menu-list-bottom {
  position: absolute;
  width: 100%;
  bottom: 32px;
}

.label {
  font-size: 20px;

}

.label-stacked.sc-ion-label-ios-h {
  margin-bottom: -8px;
}

.menu-item {
  --background: var(--ion-color-background);
  font-size: 30px;
  color: var(--ion-color-dark);
  border: none;
  margin-bottom: 24px;
}

.chevron {
  margin-right: 0px;
}

#btn-wrapper {
  margin-bottom: 32px;
  width: 100%;
}

#secondary-btn {
  display: block;
  width: 90vw;
  margin: 0 auto;
  bottom: 32px;
}

.my-custom-class .danger {
  color: #EB5757;
}