<ion-content [fullscreen]="true">
  <div id="bar-chart-cont"><ion-icon id="chart" name="bar-chart"></ion-icon></div>
  <h1>Statistics</h1>
  <h2>A bit ... anal, are you?</h2>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Total Poo Time</p>
          <h1 class="stat" text-wrap>1 day<br>13 hrs<br>45 mins</h1>
        </div>
      </ion-col>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Total Poos</p>
          <h1 class="stat">98</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Total Paid</p>
          <h1 class="stat">£745.16</h1>
        </div>
      </ion-col>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Poo Streak</p>
          <h1 class="stat">5 days</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Longest Poo</p>
          <h1 class="stat">45 mins<br>7s</h1>
        </div>
      </ion-col>
      <ion-col>
        <div class="stat-square">
          <p class="stat-header">Shortest Poo</p>
          <h1 class="stat">3 mins<br>15s</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="btn-wrapper">
    <ion-button color="secondary" id="secondary-btn" (click)="goBack()">BACK</ion-button>
  </div>

</ion-content>
