<ion-content [fullscreen]="true">
  <div id="bar-chart-cont"><ion-icon id="chart" name="bar-chart"></ion-icon></div>
  <h1>Statistics</h1>
  <h2>A bit ... anal, are you?</h2>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
      <ion-col>
        <div class="stat-square"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="btn-wrapper">
    <ion-button color="secondary" id="secondary-btn" (click)="goBack()">BACK</ion-button>
  </div>

</ion-content>
