#bar-chart-cont {
  margin: 32px auto 8px auto;
  width: 102px;
}

#chart {
  color: var(--ion-color-dark);
  font-size: 102px;
}

h1 {
  margin: 0px auto;
  text-align: center;
  font-size: 36px;
  color: var(--ion-color-dark);
}

h2 {
  margin: 0px auto 32px auto;
  text-align: center;
  font-size: 18px;
  color: var(--ion-color-secondary);
}

.stat-square {
  width: 150px;
  height: 150px;
  background: #6FCF97;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-header {
  width: 150px;
  text-align: center;
  font-size: 14px;
  color: var(--ion-color-secondary);
  margin: 0px auto;
}

.stat {
  width: 150px;
  font-size: 32px;
}

#btn-wrapper {
  margin-bottom: 16px;
  width: 100%;
}

#secondary-btn {
  display: block;
  width: 90vw;
  margin: 0 auto;
  bottom: 32px;
}