h1{
  font-size: 48px;
  color: var(--ion-color-secondary);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 45px;
}

#sub-heading {
  font-size: 18px;
  color: var(--ion-color-dark);
  margin: 0px auto 16px auto;
  text-align: center;
}

ion-item {
  --background: var(--ion-color-primary-tint);
  --border-color: var(--ion-color-secondary);
  margin-bottom: 0px;
  font-size: 34px;
}

.label {
  font-size: 24px;
  color: var(--ion-color-secondary);
  margin-bottom: 8px;
}

#btn-wrapper {
  margin: 32px auto;
  width: 100%;
  background: var(--ion-color-background);
  z-index:15;
}

#primary-btn {
  display: block;
  width: 90vw;
  margin: 0 auto;
  bottom: 32px;
  z-index: 100;
}

ion-spinner {
  --color: var(--ion-color-secondary);
}