<ion-content [fullscreen]="true">

  <h1 id="title">{{isLoginMode ? 'Please Login' : 'Please Signup'}}</h1>

  <div class="row">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input
                type="email"
                placeholder="Email"
                name="email"
                [(ngModel)]="email"
                required
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                type="password"
                placeholder="Password"
                name="password"
                [(ngModel)]="password"
                required
              >
              </ion-input>
            </ion-item>
          </ion-list>
          <a (click)="onSwitchMode()">{{isLoginMode ? 'Signup Instead' : 'Login Instead'}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col id="btn-wrapper">
          <ion-button
            ion-button
            full
            type="submit"
            color="primary"
            [disabled]="!authForm.valid"
            id="primary-btn"
          >{{isLoginMode ? 'LOGIN' : 'SIGNUP'}}</ion-button>
          <!-- <ion-button
            ion-button
            full
            type="button"
            color="secondary"
            (click)="onSwitchMode()"
            id="secondary-btn"
          >{{isLoginMode ? 'SIGNUP' : 'LOGIN'}}</ion-button> -->
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>