h1{
  font-size: 48px;
  color: var(--ion-color-secondary);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 45px;
}

#sub-heading {
  font-size: 18px;
  color: var(--ion-color-dark);
  margin: 0px auto 16px auto;
  text-align: center;
}

#menu-list {
  background: var(--ion-color-background);
  width: 100%;
}

:host ::ng-deep #menu-list > ion-item > ion-icon {
  padding-top: 18px;
}

.date-label {
  font-size: 40px;
  color: var(--ion-color-dark);
  padding-bottom: 24px;
  padding-top: 4px;
}

.menu-item {
  --background: var(--ion-color-background);
  font-size: 24px;
  color: var(--ion-color-secondary);
  margin-bottom: 12px;
}

.small-duration {
  display: block;
  clear: left;
  font-size: 24px;
}

#btn-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  background: var(--ion-color-background);

  & ion-button {
    max-width: 45vw;
  }
}