p {
  color: var(--ion-color-secondary);
  font-size: 48px;
  line-height: 48px;
  margin: 32px 24px;

  & span {
    color: var(--ion-color-dark);
  }
}


#para-one {
  margin: 40px 24px 32px 24px;
}

#para-two {
  text-align: right;
}

#btn-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  background: var(--ion-color-background);

  & ion-button {
    max-width: 45vw;
  }
}
