p {
  color: var(--ion-color-secondary);
  font-size: 48px;
  line-height: 48px;

  & span {
    color: var(--ion-color-dark);
  }
}


#para-one {
  margin: 36px 24px 24px 24px;
}

#para-two {
  margin: 24px;
  text-align: right;
}

#para-three {
  margin: 24px;
}

#btn-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  background: var(--ion-color-background);

  & ion-button {
    max-width: 45vw;
  }
}

::ng-deep .alert-message.sc-ion-alert-ios, .alert-input-group.sc-ion-alert-ios {
  font-size: 16px
}