<ion-content>
  <p id="para-one">
    That was a 
    <span *ngIf="showHours">{{hours}} hour, </span>
    <span *ngIf="showMinutes">
      <span>{{minutes}} minute</span>
    </span> and
    <span>{{seconds}} second</span> 
    poo,
  </p>
  <p id="para-two">meaning you were paid <span>{{paid}}</span> to poo</p>
  <p id="para-three">Way to go!</p>

  <div id="btn-wrapper">
    <ion-button color="danger" id="danger-btn" (click)="discardTime()">NOPE</ion-button>
    <ion-button color="primary" id="primary-btn" (click)="acceptTime()">OKAY</ion-button>
  </div>
</ion-content>
