<ion-content>
  <div id="stop-page-content">
    <p id="para-one">
      That was a 
      <span *ngIf="showHours">{{hours}} hour and </span>
      <span *ngIf="showMinutes">
        <span>{{minutes}} minute </span>
      </span>
      <span>{{seconds}} second</span> 
      <span class="normal-span"> {{environment.name.toLowerCase()}}</span>,
    </p>
    <p id="para-two">meaning you were paid <span>{{paid}}</span> to <span class="normal-span"> {{environment.name.toLowerCase()}}</span></p>
    <p *ngIf="!isLongest" id="para-three">Way to go!</p>
    <p *ngIf="isLongest" id="para-three">That was your longest time!</p>
  </div>

</ion-content>

<div id="btn-wrapper">
  <ion-button color="danger" id="danger-btn" (click)="discardTime()">NOPE</ion-button>
  <ion-button color="primary" id="primary-btn" (click)="acceptTime()">OKAY</ion-button>
</div>
