h1{
  font-size: 48px;
  color: var(--ion-color-secondary);
  margin: 32px auto 0px auto;
  text-align: center;
}

#dont-worry {
  font-size: 14px;
  color: var(--ion-color-dark);
  margin: 0px auto 24px auto;
  text-align: center;
}

ion-item {
  --background: var(--ion-color-primary-tint);
  --border-color: var(--ion-color-secondary);
  margin-bottom: 24px;
}

.label {
  font-size: 24px;
  color: var(--ion-color-secondary);
}

#disclaimer {
  font-size: 14px;
  color: var(--ion-color-secondary);
  margin: 32px 24px;
}

#btn-wrapper {
  margin-bottom: 32px;
  width: 100%;
}

#primary-btn {
  display: block;
  width: 90vw;
  margin: 0 auto;
  bottom: 32px;
}