#initial-setup-page-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 48px;
  color: var(--ion-color-secondary);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 45px;
}

#sub-heading {
  font-size: 18px;
  color: var(--ion-color-dark);
  margin: 0px auto 16px auto;
  text-align: center;
}

ion-item {
  --background: var(--ion-color-primary-tint);
  --border-color: var(--ion-color-secondary);
  margin-bottom: 0px;
  font-size: 34px;
}

.label {
  font-size: 32px;
  color: var(--ion-color-secondary);
  margin-bottom: 8px;
}

#btn-wrapper {
  max-width: 600px;
  margin: 0 auto 16px auto;
  width: 100%;
  background: var(--ion-color-background);
}

#primary-btn {
  display: block;
  max-width: 95vw;
  margin: 0 auto;
  bottom: 32px;
}

ion-spinner {
  --color: var(--ion-color-secondary);
}