<ion-content>
  <h1>Select Environment</h1>
  <p id="change">Change the timer</p>

    <ion-item>
      <ion-label
        class="label"
        position="stacked"
        text-wrap
      >[] Timer</ion-label>
      <p>Hourly Rate: </p>
      <p>Currency: </p>
      <p>Timing Since: </p>
    </ion-item>
    
    <ion-item>
      <ion-label
        class="label"
        position="stacked"
        text-wrap
      >[] Timer</ion-label>
      <p>Hourly Rate: </p>
      <p>Currency: </p>
      <p>Timing Since: </p>
    </ion-item>
  
</ion-content>

<div id="btn-wrapper">
  <ion-button
    color="secondary"
    id="secondary-btn"
  >BACK</ion-button>
</div>



