<ion-content>
  <h1>Select Environment</h1>
  <p id="change">Change the timer</p>

    <ion-item *ngFor="let environment of environments" (click)="selectEnvironment(environment)">
      <ion-label
        class="label"
        position="stacked"
        text-wrap
      >{{environment.name}} Timer</ion-label>
      <p *ngIf="environment.hourlyRate">Hourly Rate: {{environment.hourlyRate}}</p>
      <p *ngIf="environment.currency">Currency: {{environment.currency}}</p>
      <p *ngIf="environment.firstTimeDate">Timing Since: {{calculateTimingSinceDate(environment.firstTimeDate)}}</p>
    </ion-item>
  
</ion-content>



