#select-environment-page-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 48px;
  color: var(--ion-color-secondary);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 45px;
}

#change {
  font-size: 18px;
  color: var(--ion-color-dark);
  margin: 0px auto 24px auto;
  text-align: center;
}

ion-item {
  --background: var(--ion-color-primary-tint);
  --border-color: var(--ion-color-secondary);
  margin: 0px;


  & p {
    margin: 0;
    color: var(--ion-color-dark);
    font-size: 1.3rem;

    & span {
      font-size: 1.1rem;;
    }
  }

  & ion-icon {
    margin: auto;
  }
}

.label {
  font-size: 56px;
  color: var(--ion-color-secondary);
  margin-bottom: 8px;
}

#btn-wrapper {
  max-width: 600px;
  margin: 0 auto 16px auto;
  width: 100%;
  background: var(--ion-color-background);
}

#primary-btn {
  display: block;
  max-width: 95vw;
  margin: 0 auto;
  bottom: 32px;
}