<ion-content [fullscreen]="true">

  <app-poobert></app-poobert>

  <h1 id="title">How much are you paid to poo?</h1>

  <div id="number-wrapper">
    <p #timer class="timer">{{formatedTime}}</p>
    <p id="money-counter">{{paid}}</p>
  </div>

  <div id="btn-wrapper">
    <ion-button color="secondary" id="secondary-btn" (click)="openMenu()">MENU</ion-button>
    <ion-button *ngIf="!timerRunning" color="primary" id="primary-btn" (click)="handleTimer()">START</ion-button>
    <ion-button *ngIf="timerRunning" color="danger" id="danger-btn" (click)="handleTimer()">STOP</ion-button>
  </div>

</ion-content>

<app-menu [menuClick]="menuClick"></app-menu>