svg {
  position: absolute;
  width: 251.5px;
  height: 254.6px;
  right: -30px;
  top: -5px;
  z-index: 9;
}

#title {
  color: var(--ion-color-secondary);
  font-size: 48px;
  line-height: 48px;
  position: absolute;
  width: 211px;
  left: 24px;
  top: 58px;
  text-align: left;
}

#timer {
position: absolute;
width: 320px;
height: 258px;
top: 329px;
font-family: Annie Use Your Telescope;
font-size: 180px;
line-height: 258px;
text-align: center;
color: var(--ion-color-secondary);
margin: 0 auto;
}

#btn-wrapper {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 32px;
}

