<ion-content>

  <div id="avatar"></div>
  <h1>{{user.name}}</h1>

  <p>{{user.name}} has been Poo Timing since <span>{{signupDate}}</span>.</p>
  <p *ngIf="user.hourlyRate">Currently rocking an hourly rate of <span>{{user.hourlyRate}}</span>, {{user.name}} has been paid a grand total of <span>{{grandTotal}}</span> to poo at work.</p>
  <p>That's some great work {{user.name}}, we salute you</p>

</ion-content>

<div id="btn-wrapper">
  <ion-button color="secondary" id="secondary-btn" (click)="goBack()">BACK</ion-button>
</div>
