// #avatar {
//   width: 164px;
//   height: 164px;
//   margin: 24px auto 16px auto;
//   border-radius: 50%;
//   background: url(../../../assets/images/profile-avatar.png);
// }

h1 {
  margin: 40px auto 40px auto;
  text-align: center;
  font-size: 74px;
}

p {
  color: var(--ion-color-secondary);
  font-size: 24px;
  margin: 0px 24px 24px 24px;

  & span {
    color: var(--ion-color-dark);
  }
}

#btn-wrapper {
  margin-bottom: 16px;
  width: 100%;
  background: var(--ion-color-background);
}

#secondary-btn {
  display: block;
  width: 90vw !important;
  margin: 0 auto;
  bottom: 32px;
}