<ion-content>

  <div id="avatar"></div>
  <h1 *ngIf="user">{{user.userName}}</h1>

  <p *ngIf="user && firstTimeDate">{{user.userName}} has been {{environment.name}} Timing since <span>{{firstTimeDate}}</span>.</p>
  <p *ngIf="user && environment.hourlyRate">Currently rocking an hourly rate of <span>{{environment.hourlyRate}}</span>, {{user.userName}} has been paid a grand total of <span>{{grandTotal}}</span> to poo at work.</p>
  <p *ngIf="user">That's some great work {{user.userName}}, we salute you</p>

</ion-content>

<div id="btn-wrapper">
  <ion-button color="secondary" id="secondary-btn" (click)="goBack()">BACK</ion-button>
</div>
